<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="fileAppenderDebug" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="Debug" />
		<param name="File" value="Debug.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="fileAppenderInfo" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="Info" />
		<param name="File" value="Info.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>

	</appender>
	<root>
		<priority value="debug" />
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>