<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <servlet-class>de.unipotsdam.kompetenzmanager.server.GreetingServiceImpl</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <url-pattern>/kompetenzmanager/greet</url-pattern> -->
	<!-- </servlet-mapping> -->

	<servlet>
		<servlet-name>GraphBackendImpl</servlet-name>
		<servlet-class>de.unipotsdam.kompetenzmanager.server.GraphBackendImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GraphBackendImpl</servlet-name>
		<url-pattern>/kompetenzmanager/graph</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/kompetenzmanager/logging</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>KompetenzManager.html</welcome-file>
	</welcome-file-list>

</web-app>
