
*/bin/*
*/testresources/catalog-v001.xml
gui/gwt-unitCache/gwt-unitCache-0000013A16C468DB
gui/gwt-unitCache/gwt-unitCache-0000013A16C61CBD
gui/gwt-unitCache/gwt-unitCache-0000013A16D84FB7
gui/gwt-unitCache/gwt-unitCache-0000013A16DB7C3C
gui/gwt-unitCache/gwt-unitCache-0000013A16E40304
gui/gwt-unitCache/gwt-unitCache-0000013A16E6A82E
gui/gwt-unitCache/gwt-unitCache-00000143C18A99A0
gui/gwt-unitCache/gwt-unitCache-00000143C18A9AE5
gui/gwt-unitCache/gwt-unitCache-00000143C18A9B2A
gui/gwt-unitCache/gwt-unitCache-00000143C18A9B5D
gui/gwt-unitCache/gwt-unitCache-00000143C18A9B9F
gui/gwt-unitCache/gwt-unitCache-00000143C18C8B5B
gui/war/kompetenzmanager/0A9476898799A150D840F0B1C3672921.cache.png
gui/war/kompetenzmanager/0DE218239682C84A2EBF051408720046.cache.html
gui/war/kompetenzmanager/2FABAF10DD5D62AB166D99FCA868435E.cache.html
gui/war/kompetenzmanager/37A4F06850E452AE8DE9E7E8F9969E6C.cache.html
gui/war/kompetenzmanager/396F806CD63ABD414BFBB9D57429F05B.cache.png
gui/war/kompetenzmanager/3CA214F98CEA031B727FFF424A9586D1.cache.html
gui/war/kompetenzmanager/45C74C88C54AFCDDC09D0E6ADBF32492.cache.html
gui/war/kompetenzmanager/4DC33F0E9B46E6647F78BBE7864D5952.cache.html
gui/war/kompetenzmanager/640F3E5FD3D0E05DE884EE681F78E835.cache.html
gui/war/kompetenzmanager/8A9DB344A6C1BA5E5B785F4135B071E7.cache.html
gui/war/kompetenzmanager/A37C19D72B523A9AEA234812993C1AD2.cache.html
gui/war/kompetenzmanager/B4A9126031A81572FD2922B6808A68D5.cache.html
gui/war/kompetenzmanager/B912EE146D135804A4000DE5A47BBAEB.cache.html
gui/war/kompetenzmanager/D981642EFA42F70DEE26F7EF8CAC42EC.gwt.rpc
gui/war/kompetenzmanager/DF7764EEC1903CD03C9545B354D8D8E4.cache.png
gui/war/kompetenzmanager/E44767377485D18D6B6864F65BA8EF73.cache.png
gui/war/kompetenzmanager/EDBBF7999FE5769DAA58346E30D90720.cache.html
gui/war/kompetenzmanager/FF2DE53ED53229DDAC9E44BDBB7E080A.gwt.rpc
gui/war/
gui/gwt-unitCache
gui/gwt-unitCache
gui/war
*.class
gui/lib/httpcomponents-client-4.3.2
**/*.class
**/**/*.class
gui/war/WEB-INF/classes/
simpack-0.91/
api-services/src/main/java/uzuzjmd/api_services/ApiKeyGenerator.java
AlchemyAPI_Java-0.8/
owl/tdb2/
dependencies/dependencies_lib
competence-dependencies/dependencies_lib
comptetence-main/lib/
comptetence-main/lib/
comptetence-main/lib/antlr-runtime-3.2.jar
comptetence-main/lib/arq-2.8.7.jar
comptetence-main/lib/aterm-java-1.6.jar
comptetence-main/lib/collections-generic-4.01.jar
comptetence-main/lib/colt-1.2.0.jar
comptetence-main/lib/commons-logging-api.jar
comptetence-main/lib/concurrent-1.3.4.jar
comptetence-main/lib/HermiT.jar
comptetence-main/lib/icu4j-3.4.4.jar
comptetence-main/lib/iri-0.8.jar
comptetence-main/lib/j3d-core-1.3.1.jar
comptetence-main/lib/javax.mail.jar
comptetence-main/lib/jaxb-api.jar
comptetence-main/lib/jena-2.6.4.jar
comptetence-main/lib/jenabean-1.0.6.jar
comptetence-main/lib/jetty.jar
comptetence-main/lib/jgrapht-jdk1.5.jar
comptetence-main/lib/jung-3d-2.0.1.jar
comptetence-main/lib/jung-3d-demos-2.0.1.jar
comptetence-main/lib/jung-algorithms-2.0.1.jar
comptetence-main/lib/jung-api-2.0.1.jar
comptetence-main/lib/jung-graph-impl-2.0.1.jar
comptetence-main/lib/jung-io-2.0.1.jar
comptetence-main/lib/jung-jai-2.0.1.jar
comptetence-main/lib/jung-jai-samples-2.0.1.jar
comptetence-main/lib/jung-samples-2.0.1.jar
comptetence-main/lib/jung-visualization-2.0.1.jar
comptetence-main/lib/junit-4.5.jar
comptetence-main/lib/junit.jar
comptetence-main/lib/log4j-1.2.13.jar
comptetence-main/lib/lucene-core-2.3.1.jar
comptetence-main/lib/org.semanticweb.HermiT.jar
comptetence-main/lib/owlapi-bin.jar
comptetence-main/lib/owlapi-src.jar
comptetence-main/lib/pellet-cli.jar
comptetence-main/lib/pellet-core.jar
comptetence-main/lib/pellet-datatypes.jar
comptetence-main/lib/pellet-dig.jar
comptetence-main/lib/pellet-el.jar
comptetence-main/lib/pellet-explanation.jar
comptetence-main/lib/pellet-jena.jar
comptetence-main/lib/pellet-modularity.jar
comptetence-main/lib/pellet-owlapi.jar
comptetence-main/lib/pellet-owlapiv3.jar
comptetence-main/lib/pellet-pellint.jar
comptetence-main/lib/pellet-query.jar
comptetence-main/lib/pellet-rules.jar
comptetence-main/lib/pellet-test.jar
comptetence-main/lib/relaxngDatatype.jar
comptetence-main/lib/servlet.jar
comptetence-main/lib/slf4j-api-1.5.8.jar
comptetence-main/lib/slf4j-log4j12-1.5.8.jar
comptetence-main/lib/stax-api-1.0.1.jar
comptetence-main/lib/TableLayout.jar
comptetence-main/lib/vecmath-1.3.1.jar
comptetence-main/lib/wstx-asl-3.2.6.jar
comptetence-main/lib/wstx-asl-3.2.9.jar
comptetence-main/lib/xercesImpl-2.7.1.jar
comptetence-main/lib/xsdlib.jar
comptetence-main/lib/antlr-runtime-3.2.jar
competence-dependencies/lib/
gui/war/WEB-INF/
gui/war/WEB-INF/classes
gui/test-classes/InsertLiteratureEntries.class
gui/test-classes/TestNeo4JTestImpl.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/client/LiteratureView.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/client/ShowCompetenceBinder2.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/DoFindNeighbours.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/excel/DoReadExcel.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoAddLiteratureRoot.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoAddNode.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoAddOrUpdateLiteratureEntry.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoAddRootNode.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoConnectNodes.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoFindNeighbours.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoFindShortestPath.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoFullGraph.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoGetTagsForLit.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoNeo.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoNeoGraph.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoNeoLit.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/DoRemove.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/Neo4JStarter$1.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/Neo4JStarter.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/neo4j/RelTypes.class
gui/war/WEB-INF/classes/de/unipotsdam/kompetenzmanager/server/Neo4JGraphBackendImpl.class
comptetence-main/tdb2
competence-database/tdb2/
jena-fuseki-1.0.1
