[submodule "competence-reflexion-learner"]
	path = competence-reflexion-learner
	url = https://github.com/uzuzjmd/competence-reflexion-learner.git
[submodule "competence-reflexion-teacher"]
	path = competence-reflexion-teacher
	url = https://github.com/uzuzjmd/competence-reflexion-teacher.git
[submodule "competence-installer"]
	path = competence-installer
	url = https://github.com/uzuzjmd/competence-installer.git
[submodule "competence-mobile"]
	path = competence-mobile
	url = https://github.com/uzuzjmd/competence-mobile.git
