[submodule "uzuzjmd"]
	path = uzuzjmd
	url = https://github.com/uzuzjmd/competence-reflexion-learner.git
[submodule "competence-reflexion-learner"]
	path = competence-reflexion-learner
	url = https://github.com/uzuzjmd/competence-reflexion-learner.git
