<div>
	<div
	<% if (competence.get("isCompleted")) { %>
	style="background: #00CC99;"
	<% } %>
	>
		<h3 style="background:none; margin-left:.3em;"><%= competence.attributes.name %></h3>
		<form>
			<input type="text" value="" id="comment" placeholder="Kommentar" data-clear-btn="true">
			<input type="submit" value="Kompetenz erworben" class="submit-competence" >
		</form>
	</div>

	<div>
		<h3 style="background:none; margin-left:.3em;">Unterkompetenzen</h3>
		<div class="subcompetences"></div>
	</div>
</div>