/* 
    Created on : 13.04.2014, 19:06:38
    Author     : julian
*/
.preview {
	background: white;
	opacity:1;	
    -moz-opacity:1.0;
    
    width: 600px;
    height: 400px;  
    
    
    padding: 30px;
	-moz-border-radius: 15px;
	padding-top: 60px;
	border-radius: 15px;
     
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.preview-focus-panel {	
	padding: 30px;	
	border-style:solid;
	border-width: 2px;	
	border-color: black;	
}
