@CHARSET "ISO-8859-1";

.operatorSelectionPanel {
	padding: 10px;
}

.catchwordSelectionPanel {
	padding: 10px;
}

.competenceSelectionPanel {
	padding: 10px;
}

.competencePanel {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 650px;
	height: 525px;
}

.competenceCompulsoryCheckbox {
	padding: 10px;
	padding-left: 40px;
}

.gwt-CheckBox label {
    padding-left: 5px;
}