@CHARSET "ISO-8859-1";

.operatorSelectionPanel {
	padding: 10px;
}

.catchwordSelectionPanel {
	padding: 10px;
}

.competenceSelectionPanel {
	padding: 10px !important;
}

.competencePanel {
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
	border-style: outset !important;
	border-width: thin !important;
	width: 675px !important;
	height: 450px !important;
}

.competenceCompulsoryCheckbox {
	padding: 10px;
	padding-left: 40px;
}



.gwt-VerticalSplitPanel {
	
}

.x-panel-body {
	width: auto !important;
}