@CHARSET "ISO-8859-1";

.progressBar {
	width: 200px !important;
	margin-right: 30px !important;
	margin-left: 50px !important;
	margin-top: 20px !important;
/* 	vertical-align: bottom !important; */
	}
	
.userLabel {
	min-width:150px;
}

.progressEntryArea {
	 -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    border-style:outset !important;
    border-width:thin !important;	
    padding: 10px !important;
/*     margin-top: 30px; */
    margin-bottom: 10px;    
}

.progressEntryAreaPanel {
	max-height: 150px !important;
}