@CHARSET "ISO-8859-1";

.requirementTextArea {  
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    border-style:outset !important;
    border-width:thin !important;	
    padding: 10px !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

.requirementTextAreaBox {
    width: 645px !important;
    height: 205px !important;    
}

